<template>
    <div>
        <!-- This example requires Tailwind CSS v2.0+ -->
        <div class="py-12 bg-white">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="lg:text-center">
                    <h2 class="text-base text-indigo-600 font-semibold tracking-wide uppercase">Formulaire</h2>
                    <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Générer un bordereau</p>
                    <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
                        Génération d'un pdf pré-rempli avec les informations du formulaire.
                    </p>
                </div>
            </div>
            <div class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">
                <div id="bordereau_form" class="forms" ref="form" v-on:submit.prevent="onSubmit">
                    <Loader />
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Loader from "../helpers/Loader.vue";
import axios from "axios";

export default {
    name: "Bordereau",
    methods: {
        onSubmit: function (e) {
            let formData = new FormData(e.target);

            axios.post("/storeBordereau", formData).then((response) => {
                console.log(response);
            });
        },
    },
    async mounted() {
        let { data } = await axios.get("/bordereauForm");
        this.$refs.form.innerHTML = data.view.content;
    },
    components: {
        Loader,
    },
};
</script>

<style scoped></style>
