@tailwind base;
@tailwind components;
@tailwind utilities;

@import "components/loader";

@font-face {
    font-family: "Amsterdam One";
    src: url("../fonts/Amsterdam-One.eot");
    src: url("../fonts/Amsterdam-One.eot?#iefix") format("embedded-opentype"), url("../fonts/Amsterdam-One.woff2") format("woff2"),
        url("../fonts/Amsterdam-One.woff") format("woff"), url("../fonts/Amsterdam-One.ttf") format("truetype"),
        url("../fonts/Amsterdam-One.svg#Amsterdam-One") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer components {
    .btn {
        @apply px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white rounded;
    }

    /** Form classes **/
    .form-row {
        @apply mb-2 flex gap-4;
    }

    .form-label {
        @apply font-semibold w-1/4;
    }

    .form-field {
        @apply rounded border-2 border-gray-200 flex-grow;
    }

    .form-checkbox {
        @apply rounded border-2 border-gray-200;
    }
}

.signature {
    font-style: italic;
    font-size: 30px !important;
    line-height: 125% !important;
    font-family: "Amsterdam One";
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
}
